/** @format */

* {
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

.header {
 display: flex;
 flex-direction: column;
 font-size: calc(10px + 2vmin);
 border-bottom: 2px solid black;
 opacity: 80%;
 margin: auto;
 background-color: rgb(175, 228, 228);
}

.header span {
 color: #704cb6;
}

.start-btn {
 width: 200px;
 display: flex;
 padding: 10px 15px;
 font-size: 16px;
 background-color: #704cb6;
 color: white;
 border-radius: 15px;
 cursor: pointer;
 border: 2px solid black;
 transition: all 0.2s ease-in-out;
 justify-content: center;
 margin: 10px auto 10px auto;
 box-shadow: 0 5px #2d3b6a;
 min-width: 20%;
}

.start-btn:active {
 box-shadow: 0 2px #2d3b6a inset; /* Smaller shadow to look pressed */
 transform: translateY(3px);
}
